In [346]:
import pandas as pd 
import numpy as np

In [347]:
train = pd.read_csv("train_clean.csv")

In [348]:
train["Log_Fare"] = np.log10(train["Fare"]+1)

In [349]:
train.Log_Fare.describe()

count    891.000000
mean       1.286938
std        0.420714
min        0.000000
25%        0.949897
50%        1.189047
75%        1.505150
max        2.710396
Name: Log_Fare, dtype: float64

In [350]:
train.to_csv("train_clean.csv", index = False )

In [351]:
test = pd.read_csv("test_clean.csv")

In [352]:
test["Log_Fare"] = np.log10(test["Fare"]+1)

In [353]:
test.to_csv("test_clean.csv", index = False)

In [354]:
train.head()

,PassengerId,Age,Fare,Parch,Pclass,SibSp,Survived,IsFemale,Age_State,Has_Cabin,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
0,1,22.0,7.250000,0,3,1,0,0,3,1,...,0,0,1,0,0,0,0,0,0,1
1,2,38.0,71.283300,0,1,1,1,1,3,0,...,2,0,0,0,1,0,0,0,0,0
2,3,26.0,7.925000,0,3,0,1,1,3,1,...,1,0,1,0,0,0,0,0,0,1
3,4,35.0,53.100000,0,1,1,1,1,3,0,...,2,0,1,0,1,0,0,0,0,0
4,5,35.0,21.848048,0,3,0,0,0,3,1,...,1,0,1,0,0,0,0,0,0,1

In [355]:
test.head() #we have to make the predictions for this unseen data-set

,PassengerId,Age,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
0,892,34.5,7.8292,0,3,0,0,3,1,0,...,0,1,0,0,0,0,0,0,0,1
1,893,47.0,7.0000,0,3,1,1,3,1,0,...,0,0,1,0,0,0,0,0,0,1
2,894,62.0,9.6875,0,2,0,0,4,1,0,...,1,1,0,0,0,0,0,0,0,1
3,895,27.0,8.6625,0,3,0,0,3,1,0,...,1,0,1,0,0,0,0,0,0,1
4,896,22.0,12.2875,1,3,1,1,3,1,1,...,1,0,1,0,0,0,0,0,0,1

In [356]:
train.head()

,PassengerId,Age,Fare,Parch,Pclass,SibSp,Survived,IsFemale,Age_State,Has_Cabin,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
0,1,22.0,7.250000,0,3,1,0,0,3,1,...,0,0,1,0,0,0,0,0,0,1
1,2,38.0,71.283300,0,1,1,1,1,3,0,...,2,0,0,0,1,0,0,0,0,0
2,3,26.0,7.925000,0,3,0,1,1,3,1,...,1,0,1,0,0,0,0,0,0,1
3,4,35.0,53.100000,0,1,1,1,1,3,0,...,2,0,1,0,1,0,0,0,0,0
4,5,35.0,21.848048,0,3,0,0,0,3,1,...,1,0,1,0,0,0,0,0,0,1

In [357]:
train.set_index("PassengerId", inplace = True)

In [358]:
X = train.drop("Survived", axis = 1)

In [359]:
X[:2]

,Age,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,Log_Fare,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,22.0,7.2500,0,3,1,0,3,1,0,0.916454,...,0,0,1,0,0,0,0,0,0,1
2,38.0,71.2833,0,1,1,1,3,0,0,1.859038,...,2,0,0,0,1,0,0,0,0,0

In [360]:
y = train.Survived

In [361]:
from sklearn.model_selection import train_test_split

In [362]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .2, random_state = 2)

In [363]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 21), (179, 21), (712,), (179,))

In [364]:
from sklearn.preprocessing import StandardScaler

In [365]:
ss = StandardScaler()

In [366]:
X_train.describe(include = "all")

,Age,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,Log_Fare,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,...,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,29.805700,32.308435,0.407303,2.300562,0.525281,0.355337,2.801966,0.776685,0.091292,1.292288,...,1.032303,0.095506,0.702247,0.057584,0.064607,0.036517,0.035112,0.011236,0.002809,0.776685
std,12.720618,48.657717,0.841840,0.838322,1.126053,0.478952,0.622003,0.416760,0.288227,0.415666,...,0.790464,0.294119,0.457592,0.233119,0.246003,0.187704,0.184193,0.105477,0.052963,0.416760
min,0.420000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,7.895800,0.000000,2.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.949185,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,29.881138,14.479150,0.000000,3.000000,0.000000,0.000000,3.000000,1.000000,0.000000,1.189747,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,35.000000,31.068750,0.250000,3.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.506079,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,71.000000,512.329200,6.000000,3.000000,8.000000,1.000000,4.000000,1.000000,1.000000,2.710396,...,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [367]:
X_train_arr = ss.fit_transform(X_train)

In [368]:
X_train_arr

array([[ 8.01963126e-01, -9.43500978e-02, -4.84165198e-01, ...,
        -1.06600358e-01, -5.30744892e-02,  5.36211343e-01],
       [-2.03007757e+00, -3.21005768e-01,  7.04543840e-01, ...,
        -1.06600358e-01,  1.88414437e+01, -1.86493630e+00],
       [ 1.35263771e+00, -4.79365294e-01, -4.84165198e-01, ...,
        -1.06600358e-01, -5.30744892e-02,  5.36211343e-01],
       ...,
       [ 3.24066483e+00,  3.53651057e-01, -4.84165198e-01, ...,
        -1.06600358e-01, -5.30744892e-02,  5.36211343e-01],
       [ 5.93451806e-03,  3.89668837e+00, -4.84165198e-01, ...,
        -1.06600358e-01, -5.30744892e-02, -1.86493630e+00],
       [ 5.93451806e-03, -1.31282830e-01, -4.84165198e-01, ...,
        -1.06600358e-01, -5.30744892e-02,  5.36211343e-01]])

In [369]:
X_train_std = pd.DataFrame(X_train_arr, columns=X_train.columns)

In [370]:
X_train_std.head()

,Age,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,Log_Fare,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
0,0.801963,-0.094350,-0.484165,-1.552477,-0.466808,-0.742427,0.318604,0.536211,-0.31696,0.399420,...,-0.040895,-0.324946,-1.535738,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
1,-2.030078,-0.321006,0.704544,0.834917,0.421874,1.346933,-2.899074,-1.864936,-0.31696,-0.106686,...,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,18.841444,-1.864936
2,1.352638,-0.479365,-0.484165,0.834917,-0.466808,-0.742427,0.318604,0.536211,-0.31696,-0.703673,...,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
3,-1.636739,-0.018940,1.893253,0.834917,3.087920,-0.742427,-1.290235,0.536211,-0.31696,0.525043,...,1.225073,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
4,-0.771393,-0.461970,-0.484165,0.834917,-0.466808,-0.742427,0.318604,0.536211,-0.31696,-0.618782,...,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211

In [371]:
X_train_std.drop(X_train_std.columns[0], axis = 1, inplace=True)

In [372]:
X_train_std.set_index(X_train.index, inplace=True)

In [373]:
#i want to use the same mean and std deviations calculated on the X_train columns, on the test data-set also, so I must not fit on the test data-set.

In [374]:
X_test_std = ss.transform(X_test)

In [375]:
X_test_std = pd.DataFrame(X_test_std, columns=X_test.columns)

In [376]:
X_test_std.head()

,Age,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,Log_Fare,...,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
0,0.959299,-0.123828,-0.484165,-1.552477,-0.466808,-0.742427,0.318604,-1.864936,-0.316960,0.345895,...,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,5.242137,-0.1066,-0.053074,-1.864936
1,-0.692725,-0.498903,-0.484165,0.834917,-0.466808,-0.742427,0.318604,0.536211,-0.316960,-0.808040,...,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
2,-0.456722,0.672340,1.893253,-0.358780,0.421874,1.346933,0.318604,0.536211,3.154972,1.269351,...,1.225073,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
3,-0.142050,0.497442,-0.484165,0.834917,-0.466808,-0.742427,0.318604,0.536211,-0.316960,1.125125,...,1.225073,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
4,-1.007396,-0.501474,1.893253,0.834917,3.087920,1.346933,-1.290235,0.536211,-0.316960,-0.822582,...,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211

In [377]:
X_test_std.drop(X_test_std.columns[0], axis = 1, inplace=True)

In [378]:
X_test_std.set_index(X_test.index, inplace=True)

---

In [379]:
from sklearn.linear_model import LogisticRegression

In [380]:
model = LogisticRegression(random_state=10)

In [381]:
model.fit(X_train_std, y_train)

C:\Users\Vaibhav\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=10, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [382]:
ypredicted_test = model.predict(X_test_std)

In [383]:
ypredicted_test

array([1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 1], dtype=int64)

In [384]:
ypredicted_train = model.predict(X_train_std)

In [385]:
conf_matrix_train = pd.crosstab(y_train, ypredicted_train)
conf_matrix_train

col_0       0    1
Survived
0         389   60
1          66  197

In [386]:
conf_matrix_test = pd.crosstab(y_test, ypredicted_test)
conf_matrix_test

col_0      0   1
Survived
0         90  10
1         27  52

In [387]:
TP = conf_matrix_test.loc[1,1]
TN = conf_matrix_test.loc[0,0]
FP = conf_matrix_test.loc[0,1]
FN = conf_matrix_test.loc[1,0]

In [388]:
accuracy_train = (conf_matrix_train.loc[0,0]+conf_matrix_train.loc[1,1])/X_train.shape[0]
accuracy_train

0.8230337078651685

In [389]:
accuracy_test = (conf_matrix_test.loc[0,0]+conf_matrix_test.loc[1,1])/X_test.shape[0]
accuracy_test

0.7932960893854749

In [390]:
model.score(X_train_std, y_train)

0.8230337078651685

In [391]:
model.score(X_test_std, y_test)

0.7932960893854749

In [392]:
from sklearn.metrics import accuracy_score

In [393]:
accuracy_score(y_test, model.predict(X_test_std))

0.7932960893854749

In [394]:
accuracy_score(y_train, model.predict(X_train_std))

0.8230337078651685

In [395]:
sensitivity = TP/(TP+FN)
sensitivity

0.6582278481012658

In [396]:
specificity = TN/(TN+FP)

In [397]:
from sklearn.metrics import recall_score

In [398]:
recall_score(y_test, model.predict(X_test_std))

0.6582278481012658

In [399]:
model.coef_

array([[ 0.00473816, -0.13732873, -0.50013466, -0.3703564 ,  1.28381806,
        -0.64596262, -0.02312742,  0.17447152,  0.17259175, -0.3220647 ,
         0.1977087 ,  0.05391091, -0.13412052,  0.14752731, -0.02292526,
         0.1547648 ,  0.21242565,  0.03340932,  0.23129386, -0.02312742]])

In [400]:
model.intercept_

array([-0.74610278])

In [401]:
df = pd.DataFrame({"Feature": X_train_std.columns, "Coefficients": model.coef_.flatten()})

In [402]:
df

        Feature  Coefficients
0          Fare      0.004738
1         Parch     -0.137329
2        Pclass     -0.500135
3         SibSp     -0.370356
4      IsFemale      1.283818
5     Age_State     -0.645963
6     Has_Cabin     -0.023127
7     Is_Mother      0.174472
8      Log_Fare      0.172592
9   Family_Size     -0.322065
10     Fare_Lev      0.197709
11   Embarked_Q      0.053911
12   Embarked_S     -0.134121
13       Deck_B      0.147527
14       Deck_C     -0.022925
15       Deck_D      0.154765
16       Deck_E      0.212426
17       Deck_F      0.033409
18       Deck_G      0.231294
19       Deck_N     -0.023127

In [403]:
y_train[:3]

PassengerId
31     0
11     1
874    0
Name: Survived, dtype: int64

In [404]:
X_train_std[:4]

,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,Log_Fare,Family_Size,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
PassengerId,,,,,,,,,,,,,,,,,,,,
31,-0.094350,-0.484165,-1.552477,-0.466808,-0.742427,0.318604,0.536211,-0.31696,0.399420,-0.564280,-0.040895,-0.324946,-1.535738,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
11,-0.321006,0.704544,0.834917,0.421874,1.346933,-2.899074,-1.864936,-0.31696,-0.106686,0.645863,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,18.841444,-1.864936
874,-0.479365,-0.484165,0.834917,-0.466808,-0.742427,0.318604,0.536211,-0.31696,-0.703673,-0.564280,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
183,-0.018940,1.893253,0.834917,3.087920,-0.742427,-1.290235,0.536211,-0.31696,0.525043,3.066148,1.225073,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211

In [405]:
X_test_std[:3]

,Fare,Parch,Pclass,SibSp,IsFemale,Age_State,Has_Cabin,Is_Mother,Log_Fare,Family_Size,Fare_Lev,Embarked_Q,Embarked_S,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_N
PassengerId,,,,,,,,,,,,,,,,,,,,
708,-0.123828,-0.484165,-1.552477,-0.466808,-0.742427,0.318604,-1.864936,-0.316960,0.345895,-0.564280,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,5.242137,-0.1066,-0.053074,-1.864936
38,-0.498903,-0.484165,0.834917,-0.466808,-0.742427,0.318604,0.536211,-0.316960,-0.808040,-0.564280,-0.040895,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211
616,0.672340,1.893253,-0.358780,0.421874,1.346933,0.318604,0.536211,3.154972,1.269351,1.250934,1.225073,-0.324946,0.651153,-0.24719,-0.26281,-0.194681,-0.190762,-0.1066,-0.053074,0.536211

In [406]:
from statsmodels.formula.api import glm
import statsmodels.api as sm

In [407]:
y_train.isnull().sum()

0

In [412]:
features ="+".join(X_train.columns)
features

'Fare+Parch+Pclass+SibSp+IsFemale+Age_State+Has_Cabin+Is_Mother+Log_Fare+Family_Size+Fare_Lev+Embarked_Q+Embarked_S+Deck_B+Deck_C+Deck_D+Deck_E+Deck_F+Deck_G+Deck_N'

In [425]:
training =pd.concat((X_train,y_train), axis = 1)

In [433]:
test =pd.concat((X_test,y_test), axis = 1)

In [434]:
mod_log = glm(formula="Survived~"+features, data=training, family = sm.families.Binomial()).fit()

In [435]:
mod_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                            GLM   Df Residuals:                      693
Model Family:                Binomial   Df Model:                           18
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -294.62
Date:                Sat, 22 Aug 2020   Deviance:                       589.24
Time:                        21:25:31   Pearson chi2:                     782.
No. Iterations:                    19   Covariance Type:             nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       1.9982      0.992      2.015      0.044       0.054       3.942
Fare         4.112e-06      0.004      0.001      0.999      -0.007       0.007
Parch          -0.7314      0.365     -2.003      0.045      -1.447      -0.016
Pclass         -0.6182      0.229     -2.694      0.007      -1.068      -0.168
SibSp          -0.9031      0.337     -2.681      0.007      -1.563      -0.243
IsFemale        2.7235      0.247     11.038      0.000       2.240       3.207
Age_State      -1.0665      0.202     -5.284      0.000      -1.462      -0.671
Has_Cabin      -0.0263      0.366     -0.072      0.943      -0.743       0.690
Is_Mother       0.6212      0.510      1.218      0.223      -0.378       1.620
Log_Fare        0.4125      0.726      0.568      0.570      -1.010       1.835
Family_Size     0.3637      0.343      1.060      0.289      -0.309       1.036
Fare_Lev        0.2585      0.314      0.823      0.411      -0.357       0.874
Embarked_Q      0.1910      0.431      0.443      0.658      -0.654       1.036
Embarked_S     -0.2961      0.282     -1.051      0.293      -0.848       0.256
Deck_B          0.6898      0.815      0.846      0.397      -0.908       2.288
Deck_C         -0.0519      0.781     -0.066      0.947      -1.583       1.479
Deck_D          0.8817      0.831      1.061      0.289      -0.747       2.510
Deck_E          1.2158      0.855      1.422      0.155      -0.460       2.891
Deck_F          0.3777      1.248      0.303      0.762      -2.069       2.824
Deck_G         19.6075   1.19e+04      0.002      0.999   -2.33e+04    2.33e+04
Deck_N         -0.0263      0.366     -0.072      0.943      -0.743       0.690
===============================================================================
"""

In [428]:
features_selected = mod_log.pvalues[mod_log.pvalues<.05]*100

In [429]:
features_selected.index

Index(['Intercept', 'Parch', 'Pclass', 'SibSp', 'IsFemale', 'Age_State'], dtype='object')

In [430]:
mod_log.aic

627.2409508220373

In [ ]:
#AIC is lowest that is the best model. So, when there are insignificant features in the model, the aic value will be high.
#As we remove the insignificant features aic will reduce

In [ ]:
features_selected

In [437]:
features = "+".join(features_selected.index)

In [440]:
features = features.replace("Intercept+", "")

In [441]:
features

'Parch+Pclass+SibSp+IsFemale+Age_State'

In [442]:
mod_log2 = glm(formula="Survived~"+features, data=training, family = sm.families.Binomial()).fit()

In [443]:
mod_log2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  712
Model:                            GLM   Df Residuals:                      706
Model Family:                Binomial   Df Model:                            5
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -303.75
Date:                Sat, 22 Aug 2020   Deviance:                       607.51
Time:                        21:34:48   Pearson chi2:                     830.
No. Iterations:                     5   Covariance Type:             nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.5802      0.654      5.477      0.000       2.299       4.861
Parch         -0.1204      0.123     -0.979      0.328      -0.361       0.121
Pclass        -1.0664      0.128     -8.341      0.000      -1.317      -0.816
SibSp         -0.4588      0.134     -3.416      0.001      -0.722      -0.196
IsFemale       2.8858      0.228     12.646      0.000       2.439       3.333
Age_State     -0.9419      0.184     -5.128      0.000      -1.302      -0.582
==============================================================================
"""

In [444]:
mod_log2.aic #select the model with the lowest aic

619.5061543720585

In [ ]:
#remove Parch yourself

lg (p/1-p) = 3.58-.12parch-1.06Pclass-.45Sibsp-.9Age_state

In [ ]:
#most significant feature according to p-values

In [447]:
y_test_predictedprob=mod_log2.predict(test)

In [449]:
y_test_predicted = np.where(y_test_predictedprob>0.5,1,0)

In [450]:
pd.crosstab(y_test, y_test_predicted #confusion matrix

col_0      0   1
Survived
0         94   6
1         33  46